body{
  background: #192c4e;
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
      line-height: 1.5;
    color: #fff;
}
h2{
  font-family: "Cinzel Decorative", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ffd700;
    text-align: center;
}
h3{
  font-family: "Cinzel Decorative", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #7df9ff;
}