.footer{
  background: #ffd700;
}
.footer-container{
padding: 30px 20px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  font-family: "Cinzel Decorative", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #192c4e;
    margin-bottom: 16px;
}
.footer-text{
  font-size: 12px;
  color: #192c4e;
}
@media only screen and (min-width: 1439px) {
  .footer-container {
      padding: 46px 180px; 
  } 
  .footer-navigation{
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .footer-text{
    text-align: center;
  }
}